---
import { Image } from 'astro:assets';
import brandingFFMain from '../images/branding-ff-main.png'
import webFFHero from '../images/web-ff-hero.png'
import brandingFFSecond from '../images/branding-ff-second.png'
import webCarelaHero from '../images/web-carela-hero.png'
import webCostaHero from '../images/web-costa-hero.png'
import webCyberHero from '../images/web-cyber-hero.png'
import webFusionFlowHero from '../images/web-fusionflow-hero.png'
import webLawlyHero from '../images/web-lawly-hero.png'
import webLinkedInHero from '../images/web-linkedin-hero.png'
import webMondayLaunchHero from '../images/web-mondaylaunch-hero.png'
import webMVPHero from '../images/web-mvp-hero.png'
import webReadlyHero from '../images/web-readly-hero.png'
import webRentalinduHero from '../images/web-rentalindu-hero.png'
import webWolfMailHero from '../images/web-wolfmail-hero.png'
import appTrippaBig from '../images/app-trippa-big.png'
import appTrippaFull from '../images/app-trippa-full.png'
import webTrippaOne from '../images/web-trippa-1.png'
import webTrippaTwo from '../images/web-trippa-2.png'

---
<div class="projects">
            <h2>Selected Work</h2>
            <div class="images">
                <Image class="image" src={appTrippaBig} alt="branding asset for featherflow.com" width={4320} quality={100}class="project-image"/>
                <Image class="image" src={appTrippaFull} alt="branding asset for featherflow.com" width={4320} quality={100}class="project-image"/>
                <Image class="image" src={webTrippaOne} alt="branding asset for featherflow.com" width={4320} quality={100}class="project-image"/>
                <Image class="image" src={webTrippaTwo} alt="branding asset for featherflow.com" width={4320} quality={100}class="project-image"/>
                <Image class="image" src={webReadlyHero} alt="branding asset for featherflow.com" width={4320} quality={100}class="project-image"/>
                <Image class="image" src={webCyberHero} alt="branding asset for featherflow.com" width={4320} quality={100}class="project-image"/>
                <Image class="image" src={brandingFFMain} alt="branding asset for featherflow.com" width={4320} quality={100}class="project-image"/>
                <Image class="image" src={brandingFFSecond} alt="branding asset for featherflow.com" width={4320} quality={100}class="project-image"/>
                <Image class="image" src={webFFHero} alt="branding asset for featherflow.com" width={4320} quality={100}class="project-image"/>
                <Image class="image" src={webLawlyHero} alt="branding asset for featherflow.com" width={4320} quality={100}class="project-image"/>
                <Image class="image" src={webCarelaHero} alt="branding asset for featherflow.com" width={4320} quality={100}class="project-image"/>
                <Image class="image" src={webCostaHero} alt="branding asset for featherflow.com" width={4320} quality={100}class="project-image"/>
                <Image class="image" src={webFusionFlowHero} alt="branding asset for featherflow.com" width={4320} quality={100}class="project-image"/>
                <Image class="image" src={webMVPHero} alt="branding asset for featherflow.com" width={4320} quality={100}class="project-image"/>
                <Image class="image" src={webRentalinduHero} alt="branding asset for featherflow.com" width={4320} quality={100}class="project-image"/>
            </div>
</div>

<style>
    h2 {
 font-size: 16.875px;
 font-family: "Inter Variable", "Inter", sans-serif;
 font-weight: 450;
margin-bottom: 14px;
 margin-top: 0;
}

.projects {
    margin-bottom: 0px;
    max-width: 650px;
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.images {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px;
    background-color: #f6f6f6;
    border-radius: 9px;
    gap: 9px;
}

.project-image {
    width: 100%;
    height: auto;
    max-width: 100%;
}

@media (max-width: 768px) {
    .images {
        padding: 0px;
        gap: 6px;
    }
}

.image {
    /* max-width: 626px; */
}

</style>